.container{
    position: relative;
}
h2{
    display: inline-block;
    margin-left: 5%;
}
#languages{
    width: 4.15rem;
    position: absolute;
    top: 6.5%;
    right: 5.5%;
    float: right;
}
#textarea{
    width: 89%;
    height: 15rem;
    border: 1px solid gray;
    margin-left: 5%;
}
.output_container{
    height: 7rem;
    background-color: black;
    color: white;
    margin: 1% 5% 1%;
}
.compile_btn{
    background-color: yellow;
    color: black;
    border: 2px solid yellow;
    margin-left: 5%;
    padding: 2% 1%;
}
.compile_btn:hover{
    background-color: gold;
    border: 2px solid gold;
}